html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.ParticleWaves {
  width: 100vw;
  height: 80vh;
  position: absolute;
  z-index: -10;
  left: 0;
  top: 135vh;
}

@media (min-width: 1700px) {
  .ParticleWaves {
    top: 125vh;
  }
}
@media (max-width: 768px) {
  .ParticleWaves {
    height: 300px;
    top: 1000px;
  }
}

@media (max-width: 576px) {
  .ParticleWaves {
    height: 300px;
    top: 1180px;
  }
}
@media (max-width: 541px) {
  .ParticleWaves {
    top: 1210px;
  }
}
@media (max-width: 415px) {
  .ParticleWaves {
    top: 1240px;
  }
}
@media (max-width: 376px) {
  .ParticleWaves {
    top: 1220px;
  }
}
@media (max-width: 360px) {
  .ParticleWaves {
    top: 1220px;
  }
}
@media (max-width: 321px) {
  .ParticleWaves {
    top: 1080px;
  }
}
@media (max-width: 281px) {
  .ParticleWaves {
    top: 1080px;
  }
}
