html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.ParticleWaves {
  width: 100vw;
  height: 600px;
  position: absolute;
  z-index: -10;
  left: 0;
  top: 800px;
}
@media (max-width: 576px) {
  .ParticleWaves {
    height: 300px;
    top: 1120px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 1300px) {
}
