html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.RubikAnimation {
  width: 100vw;
  height: 90vh;
  position: absolute;
  z-index: 1;
  top: 80vh;
  left: 17vw;
}
@media (min-width: 1700px) {
  .RubikAnimation {
    width: 200vw;
    height: 82vh;
    top: 60vh;
    left: -34vw;
  }
}

@media (max-width: 1025px) {
  .RubikAnimation {
    height: 42vh;
    top: 37vh;
    left: -40vw;
  }
}
@media (max-width: 768px) {
  .RubikAnimation {
    height: 40vh;
    top: 50vh;
  }
}
@media (max-width: 576px) {
  .RubikAnimation {
    top: 700px;
    left: -320px;
  }
}
@media (max-width: 541px) {
  .RubikAnimation {
    height: 60vh;
    top: 115vh;
    left: -70vw;
  }
}
@media (max-width: 415px) {
  .RubikAnimation {
    top: 115vh;
    left: -85vw;
  }
}
@media (max-width: 376px) {
  .RubikAnimation {
    height: 50vh;
    top: 108vh;
  }
}
@media (max-width: 361px) {
  .RubikAnimation {
    height: 70vh;
    top: 133vh;
    left: -80vw;
  }
}
@media (max-width: 321px) {
  .RubikAnimation {
    height: 350px;
    top: 800px;
    left: -270px;
  }
}
@media (max-width: 280px) {
  .RubikAnimation {
    height: 300px;
    top: 820px;
    left: -220px;
  }
}
