.Button {
  margin: 60px 0;
}
.Button .hidden {
  display: none;
}
.Button button.btn-square {
  border: none;
  border-radius: 4px;
  background: var(--gradient-gold);
  color: var(--gradient-gold);
  padding: 35px;
  position: absolute;
  z-index: -1;
}
.Button button.btn-text {
  font-family: hikouLight;
  letter-spacing: 0.7rem;
  background: none;
  color: var(--primary-silver);
  font-size: 1.5rem;
  border: none;
  text-align: center;
  padding-top: 13px;
  transition: all 200ms ease-in-out;
  z-index: 2;
}
.Button hr.underline {
  color: var(--primary-silver);
  opacity: 0.7;
  max-width: 95%;
  margin-top: 3px;
  padding: 0px;
}
.Button button.btn-text.margin {
  margin-left: 30px;
}
.btn-margin {
  margin: 10px 0;
}
