.TodoHero .heading {
  padding: 120px 0 100px 100px;
}

.TodoHero .Button button {
  font-size: 14px;
}
.TodoHero .tile {
  width: 250px;
  display: block;
  margin: auto;
  margin-left: 100px;
}
.TodoHero .card {
  background-color: var(--dark-colour);
  width: 20vw;
  border: none;
  margin-top: 100px;
  padding: 5px;
}
.TodoHero .right-coloumn {
  margin: auto;
  text-align: center;
  padding-left: 40px;
}
.TodoHero .card-title {
  font-family: hikouUrban;
  font-size: 3.5vw;
  padding-bottom: 0;
  margin-bottom: 0;
}
