.About {
  display: block;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  padding: 0px;
}
.About .container {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
.About .values-bio {
  background-color: var(--orange-gold);
  padding: 0;
}
.About .values {
  background-color: var(--primary-silver);
}
.About .section-heading {
  text-align: center;
  font-size: 10rem;
  opacity: 0.5;
  font-family: hikouDiagonal;
}
@media (max-width: 576px) {
  .About .section-heading {
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 1300px) {
}
