.AboutBio .heading,
.AboutBio .subtitle {
  opacity: 0.7;
}
.AboutBio .subtitle {
  color: var(--orange-gold);
  font-family: hikouDiagonal;
  font-size: 2.5rem;
}
.AboutBio .heading {
  color: var(--primary-silver);
  font-family: hikouUrban;
  font-size: 6.5rem;
}
.AboutBio a {
  text-decoration: none;
  opacity: 0.7;
  border-bottom: 1px solid var(--primary-silver);
  color: var(--primary-silver);
}
.AboutBio .bio-description {
  font-size: 1.25rem;
  width: 600px;
  padding-left: 5px;
  line-height: 30px;
  font-weight: 300;
}
.AboutBio .silhouette-title {
  font-size: 18rem;
  font-family: hikouRough;
  opacity: 0.1;
  color: var(--primary-silver);
  transform: rotate(-90deg);
  position: absolute;
  right: -250px;
  top: 300px;
}
@media (prefers-reduced-motion: no-preference) {
  .fade-name {
    animation-duration: 3s;
    animation-name: slide-fade;
    animation-direction: alternate;
  }
  .fade-nickname {
    animation-duration: 5s;
    animation-name: slide-fade;
    animation-direction: alternate;
  }
}

@keyframes slide-fade {
  from {
    margin-left: 20%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    opacity: 0.7;
  }
}

@media (min-width: 1450px) {
  .AboutBio .heading {
    font-size: 8rem;
  }
  .AboutBio .subtitle {
    font-size: 3rem;
  }
  .AboutBio .bio-description {
    font-size: 1.3rem;
    width: 900px;
  }
  .AboutBio .silhouette-title {
    font-size: 22rem;
    right: -310px;
    top: 290px;
  }
}

@media (max-width: 768px) {
  .AboutBio .heading {
    font-size: 4.5rem;
  }
  .AboutBio .subtitle {
    font-size: 2.2rem;
  }
  .AboutBio .bio-description {
    font-size: 1.1rem;
    width: 500px;
  }
  .AboutBio .silhouette-title {
    font-size: 12rem;
    right: -120px;
    top: 510px;
  }
}
@media (max-width: 576px) {
  .AboutBio .heading {
    font-size: 3rem;
    line-height: 0.7;
    padding-top: 70px;
  }
  .AboutBio .subtitle {
    font-size: 1.7rem;
    padding-top: 10px;
  }
  .AboutBio .bio-description {
    font-size: 1rem;
    width: 300px;
    padding-left: 5px;
    line-height: 22px;
  }
  .AboutBio .silhouette-title {
    font-size: 10rem;
    right: -140px;
    top: 535px;
  }
}
@media (max-width: 412px) {
  .AboutBio .heading {
    font-size: 3rem;
    padding-top: 20px;
  }

  .AboutBio .bio-description {
    font-size: 0.9rem;
  }
  .AboutBio .silhouette-title {
    top: 470px;
  }
}
@media (max-width: 281px) {
  .AboutBio .heading {
    font-size: 2.5rem;
    padding-top: 10px;
  }

  .AboutBio .bio-description {
    font-size: 0.8rem;
    width: 250px;
    padding-left: 0;
  }
  .AboutBio .silhouette-title {
    top: 515px;
  }
}
