.About {
  display: block;
  width: 100%;
  margin: 100px 0 0;
  box-sizing: border-box;
  height: 100%;
  padding: 0px;
}
.About .container {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
.About .values-bio {
  background-color: var(--orange-gold);
  padding: 0;
}
.About .values {
  background-color: var(--primary-silver);
}
.About .section-heading {
  text-align: center;
  font-size: 8rem;
  opacity: 0.7;
  font-family: hikouDiagonal;
}
@media (min-width: 1700px) {
  .About .section-heading {
    font-size: 10rem;
  }
}

@media (max-width: 1025px) {
  .About .section-heading {
    font-size: 6rem;
  }
}

@media (max-width: 768px) {
  .About .section-heading {
    font-size: 5rem;
  }
}
@media (max-width: 576px) {
  .About .section-heading {
    font-size: 5rem;
  }
}
@media (max-width: 412px) {
  .About .section-heading {
    font-size: 5rem;
  }
}
