.AboutBio .heading,
.AboutBio .subtitle {
  color: var(--primary-silver);
  opacity: 0.7;
}
.AboutBio .heading {
  font-family: hikouUrban;
  font-size: 6.5rem;
}
.AboutBio a {
  color: var(--primary-silver);
  text-decoration: none;
  opacity: 0.7;
}
.AboutBio .bio-description {
  font-size: 1.25rem;
  width: 600px;
  padding-left: 5px;
  line-height: 30px;
}
.AboutBio .silhouette-title {
  font-size: 18rem;
  font-family: hikouRough;
  opacity: 0.1;
  color: var(--orange-gold);
  transform: rotate(-90deg);
  position: absolute;
  right: -200px;
  top: 200px;
}
@media (prefers-reduced-motion: no-preference) {
  .fade-name {
    animation-duration: 3s;
    animation-name: slide-fade;
    animation-direction: alternate;
  }
  .fade-nickname {
    animation-duration: 5s;
    animation-name: slide-fade;
    animation-direction: alternate;
  }
}

@keyframes slide-fade {
  from {
    margin-left: 20%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    opacity: 0.7;
  }
}
