.Accomplishments .section-heading {
  color: var(--dark-colour);
  font-size: 4.5rem;
  padding: 20px 40px 10px;
  margin-top: 0;
  text-align: start;
}
.Accomplishments ul {
  color: var(--dark-colour);
  font-family: hikouLight;
  list-style: none;
  padding-left: 45px;
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
}
.Accomplishments .details {
  color: var(--orange-gold);
  padding-left: 15px;
  font-size: 0.83rem;
  opacity: 0.8;
}
.Accomplishments .detail-group {
  padding-bottom: 10px;
}
.col-sm-6 {
  padding: 0;
}
.Accomplishments .hidden {
  display: none;
}
@media (min-width: 1300px) {
  .Accomplishments .section-heading {
    font-size: 7rem;
  }
  .Accomplishments ul {
    font-size: 1.8rem;
  }
  .Accomplishments .details {
    font-size: 1.3rem;
  }
}

@media (max-width: 1025px) {
  .Accomplishments .section-heading {
    font-size: 3.5rem;
    padding: 5px 15px 0;
  }
  .Accomplishments ul {
    padding-left: 20px;
    letter-spacing: 0.17rem;
    font-size: 1rem;
  }
  .Accomplishments .detail-group {
    padding-bottom: 9px;
  }
  .Accomplishments .details {
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .Accomplishments .section-heading {
    font-size: 2.5rem;
    padding: 5px 15px 0;
  }
  .Accomplishments ul {
    padding-left: 20px;
    letter-spacing: 0.17rem;
    font-size: 0.7rem;
  }
  .Accomplishments .detail-group {
    padding-bottom: 9px;
  }
  .Accomplishments .details {
    font-size: 0.5rem;
  }
}
@media (max-width: 576px) {
  .Accomplishments .computer {
    display: none;
  }
  .Accomplishments .hidden {
    display: block;
  }
  .Accomplishments .section-heading {
    font-size: 3rem;
    padding: 20px;
    text-align: start;
  }
  .Accomplishments ul {
    padding-left: 25px;
    letter-spacing: 0.2rem;
    font-size: 1rem;
  }
  .Accomplishments .details {
    font-size: 0.85rem;
  }
}

@media (max-width: 412px) {
  .Accomplishments .computer {
    display: none;
  }
  .Accomplishments .hidden {
    display: block;
  }
  .Accomplishments .section-heading {
    font-size: 3rem;
    padding: 20px;
    text-align: start;
  }
  .Accomplishments ul {
    padding-left: 25px;
    letter-spacing: 0.2rem;
    font-size: 1rem;
  }
  .Accomplishments .detail-group {
    padding-bottom: 15px;
  }
  .Accomplishments .details {
    font-size: 0.85rem;
  }
}
@media (max-width: 281px) {
  .Accomplishments .section-heading {
    font-size: 2.2rem;
    padding: 20px;
  }
  .Accomplishments .details {
    font-size: 0.65rem;
  }
}
