.DesignStatement {
  background: var(--primary-silver);
  text-align: center;
}
.DesignStatement .heading {
  color: var(--dark-colour);
  margin: 0;
  padding: 100px 10px 20px;
  text-shadow: none;
  font-family: hikouOutline;
  letter-spacing: 0.3rem;
  font-size: 5.5rem;
}
.DesignStatement .description {
  color: var(--dark-colour);
  font-size: 1.1rem;
  width: 600px;
  margin: auto;
  padding-bottom: 80px;
}

.DesignStatement .descrip-title {
  letter-spacing: 0.3rem;
  font-size: 2rem;
  color: var(--dark-colour);
}
