.DesignStatement {
  background: var(--primary-silver);
  text-align: center;
}
.DesignStatement .heading {
  color: var(--dark-colour);
  margin: 0;
  padding: 100px 10px 20px;
  text-shadow: none;
  font-family: hikouOutline;
  letter-spacing: 0.3rem;
  font-size: 5.5rem;
}
.DesignStatement .description {
  color: var(--dark-colour);
  font-size: 1.1rem;
  width: 600px;
  margin: auto;
  padding-bottom: 80px;
}

.DesignStatement .descrip-title {
  letter-spacing: 0.3rem;
  font-size: 2rem;
  color: var(--dark-colour);
}
@media (max-width: 1300px) {
}

@media (max-width: 768px) {
  .DesignStatement .heading {
    padding: 80px 5px 20px;
    font-size: 3rem;
  }
  .DesignStatement .descrip-title {
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
  }
  .DesignStatement .description {
    font-size: 0.9rem;
    width: 300px;
    padding-bottom: 20px;
    opacity: 0.9;
  }
}
@media (max-width: 576px) {
  .DesignStatement .heading {
    padding: 80px 5px 20px;
    font-size: 3.8rem;
  }
  .DesignStatement .descrip-title {
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
  }
  .DesignStatement .description {
    font-size: 0.9rem;
  }
}
@media (max-width: 281px) {
  .DesignStatement .heading {
    padding: 50px 5px 20px;
    font-size: 3rem;
  }
  .DesignStatement .descrip-title {
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
  }
  .DesignStatement .description {
    font-size: 0.65rem;
  }
}
