.Interests .section-heading {
  color: var(--primary-silver);
  font-size: 5rem;
}
.Interests .list {
  padding-top: 50px;
}
.Interests .interest-list {
  color: var(--primary-silver);
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
}
.Interests .heading {
  padding-top: 2rem;
}
@media (prefers-reduced-motion: no-preference) {
  .change {
    animation-duration: 3s;
    animation-name: blink;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}
@keyframes blink {
  0% {
    font-family: hikouDiagonal;
  }
  49% {
    font-family: hikouDiagonal;
  }
  50% {
    font-family: hikouCorroded;
  }
  51% {
    font-family: hikouDiagonal;
  }
  54% {
    font-family: hikouCorroded;
  }
  90% {
    font-family: hikouDiagonal;
  }
}

blink {
  animation: blink 1s infinite;
}
@media (min-width: 1450px) {
  .Interests .section-heading {
    font-size: 7rem;
  }
  .Interests .interest-list {
    font-size: 1.8rem;
    font-weight: 300;
  }
  .Interests .list {
    padding: 80px 5px;
  }
}
@media (max-width: 1025px) {
}
@media (max-width: 768px) {
  .Interests .section-heading {
    font-size: 2.5rem;
  }
  .Interests .interest-list {
    font-size: 1rem;
  }
  .Interests .list {
    padding: 10px 5px;
  }
}

@media (max-width: 576px) {
  .Interests .section-heading {
    font-size: 3rem;
  }
  .Interests .interest-list {
    font-size: 1rem;
  }
  .Interests .list {
    padding-top: 10px;
  }
}
@media (max-width: 541px) {
  .Interests .heading {
    padding-top: 0.5rem;
  }
}
@media (max-width: 412px) {
}
