.Interests .section-heading {
  color: var(--primary-silver);
  font-size: 5rem;
}
.Interests .list {
  padding-top: 50px;
}
.Interests .interest-list {
  color: var(--primary-silver);
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .change-colour {
    animation-duration: 3s;
    animation-name: blink;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}
@keyframes blink {
  0% {
    color: var(--primary-silver);
  }
  49% {
    color: var(--primary-silver);
  }
  50% {
    color: var(--orange-gold);
  }
  55% {
    color: var(--primary-silver);
  }
}

blink {
  animation: blink 1s infinite;
}
@media (max-width: 576px) {
  .Interests .section-heading {
    font-size: 3rem;
  }
  .Interests .interest-list {
    font-size: 1rem;
  }
  .Interests .list {
    padding-top: 10px;
  }
}
@media (max-width: 768px) {
  .Interests .section-heading {
    font-size: 2.5rem;
  }
  .Interests .interest-list {
    font-size: 1rem;
  }
  .Interests .list {
    padding: 10px 5px;
  }
}
@media (max-width: 1300px) {
}
