.ScrollingText {
  margin: 0;
  padding: 0;
}
.ScrollingText .scroll-text {
  display: inline-flex;
  font-size: 6rem;
  font-family: hikouOutline;
  line-height: 1.2;
  margin-top: 31px;
  margin-bottom: -21px;
}
@media (max-width: 576px) {
  .ScrollingText .scroll-text {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: -14px;
  }
}
@media (max-width: 768px) {
  .ScrollingText .scroll-text {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-top: 22px;
  }
}
@media (max-width: 1300px) {
}
