.ScrollingText {
  margin: 0;
  padding: 0;
}
.ScrollingText .scroll-text {
  display: inline-flex;
  font-size: 6rem;
  font-family: hikouOutline;
  line-height: 1.2;
  margin-top: 31px;
  margin-bottom: -21px;
}
@media (min-width: 1700px) {
  .ScrollingText .scroll-text {
    font-size: 7.5rem;
    line-height: 2;
    margin-top: 100px;
    margin-bottom: -75px;
  }
}
@media (max-width: 769px) {
  .ScrollingText .scroll-text {
    font-size: 3.5rem;
    line-height: 1.5;
    margin-top: 12px;
    margin-bottom: -19px;
  }
}
@media (max-width: 576px) {
  .ScrollingText .scroll-text {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: -14px;
  }
}
