.ScrollingText {
  margin: 0;
  padding: 0;
}
.ScrollingText .scroll-text {
  display: inline-flex;
  font-size: 7vw;
  position: relative;
  font-family: hikouOutline;
  bottom: -5vh;
}

@media (max-width: 1024px) {
  .ScrollingText .scroll-text {
    bottom: -3vh;
  }
}
@media (max-width: 769px) {
  .ScrollingText .scroll-text {
    font-size: 3.5rem;
    line-height: 1.5;
  }
}
@media (max-width: 576px) {
  .ScrollingText .scroll-text {
    font-size: 4rem;
  }
}
