.Values {
  margin: 0;
  padding: 50px 0 0;
}

.Values .values-bio {
  background-color: var(--orange-gold);
  color: var(--primary-silver);
  padding: 0;
}
.Values .heading {
  padding-top: 9vh;
  padding-bottom: 0;
}
.Values .value-img {
  padding: 0px;
  position: relative;
  z-index: 2;
}

@media (max-width: 1025px) {
  .Values .heading {
    padding-top: 2rem;
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .Values .heading {
    margin-top: 0rem;
  }
}
@media (max-width: 576px) {
  .Values .heading {
    margin-top: 2rem;
  }
}
