.Values {
  margin: 0;
  padding: 50px 0 0;
}
.Values .values-bio {
  background-color: var(--gradient-gold);
  color: var(--primary-silver);
  padding: 0;
}
.Values .heading {
  padding-top: 9vh;
  padding-bottom: 0;
}
.Values .value-img {
  padding: 0px;
  position: relative;
  z-index: 2;
}
.Values .marquee-container {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.Values .marquee {
  font-size: 7vw;
  font-family: hikouOutline;
  line-height: 0.6;
  padding: 70px 0 0;
  color: #fff;
  white-space: nowrap;
  animation: marquee 12s infinite linear;
}
.Values .marquee:after {
  content: " - kindness - understanding - authenticity - wisdom - resilience ";
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 1025px) {
  .Values .heading {
    padding-top: 2rem;
    padding-bottom: 0;
  }
  .Values .marquee {
    animation: marquee 10s infinite linear;
  }
}
@media (max-width: 768px) {
  .Values .heading {
    margin-top: 0rem;
  }
}
@media (max-width: 576px) {
  .Values .heading {
    margin-top: 2rem;
  }
}
@media (max-width: 412px) {
  .About .Values .section-heading {
    font-size: 19vw;
  }
  .Values .marquee {
    font-size: 14vw;
  }
}
