.Values {
  margin: 0;
  padding: 50px 0 0;
}

.Values .values-bio {
  background-color: var(--orange-gold);
  color: var(--primary-silver);
  padding: 0;
}
.Values .heading {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.Values .value-img {
  padding: 0px;
  position: relative;
  z-index: 2;
}
@media (max-width: 576px) {
  .Values .heading {
    margin-top: 2rem;
  }
  .Values .value-img {
    padding: 0px;
    position: relative;
    z-index: 2;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 1300px) {
}
