.FurtherSkills .upcoming,
.FurtherSkills .inprogress {
  width: 370px;
}
.FurtherSkills ul {
  list-style-type: none;
}
.FurtherSkills .inprogress-skill {
  font-weight: 200;
  color: var(--primary-silver);
  opacity: 0.7;
  margin-right: 5px;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.FurtherSkills .title-heading {
  font-size: 3rem;
  padding-right: 60px;
  color: var(--primary-silver);
  font-family: hikouRough;
}
@media (min-width: 1400px) {
  .FurtherSkills .upcoming,
  .FurtherSkills .inprogress {
    width: 500px;
  }
  .FurtherSkills .title-heading {
    font-size: 3.5rem;
  }
}
@media (max-width: 576px) {
  .FurtherSkills .upcoming {
    padding-top: 20px;
  }
}
@media (max-width: 541px) {
  .FurtherSkills {
    padding-left: 10px;
    padding-top: 30px;
  }
  .FurtherSkills .title-heading {
    font-size: 2rem;
  }
  .FurtherSkills .upcoming,
  .FurtherSkills .inprogress {
    width: 270px;
  }
  .FurtherSkills .upcoming {
    padding-top: 0px;
  }
}
@media (max-width: 415px) {
  .FurtherSkills {
    padding-left: 30px;
  }
  .FurtherSkills .title-heading {
    font-size: 2.5rem;
  }
  .FurtherSkills .upcoming {
    padding-top: 20px;
  }
  .FurtherSkills .upcoming,
  .FurtherSkills .inprogress {
    width: 400px;
  }
}
@media (max-width: 361px) {
  .FurtherSkills {
    padding-left: 20px;
  }
  .FurtherSkills .title-heading {
    font-size: 2.6rem;
  }

  .FurtherSkills .upcoming,
  .FurtherSkills .inprogress {
    width: 350px;
  }
}
