.Skills .skill-bars {
  padding-left: 60px;
}
.Skills .continued {
  font-size: 4rem;
  font-weight: 100;
}
@media (prefers-reduced-motion: no-preference) {
  .fade-name {
    animation-duration: 3s;
    animation-name: slide-fade;
    animation-direction: alternate;
  }
}

@keyframes slide-fade {
  from {
    margin-left: 20%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    opacity: 0.7;
  }
}
