.Button {
  margin: 60px 0;
}

.Button button.btn-square {
  border: none;
  border-radius: 4px;
  background: var(--gradient-gold);
  color: var(--gradient-gold);
  padding: 35px;
  position: absolute;
  z-index: -1;
}

.Button button.btn-text {
  font-family: hikouLight;
  letter-spacing: 0.7rem;
  background: none;
  color: var(--primary-silver);
  font-size: 1.5rem;
  border: none;
  border-bottom: var(--primary-silver) solid 0.5px;
  text-align: center;
  padding-top: 13px;
}
.Button button.btn-text.margin {
  margin-left: 30px;
}
