.Home .lines {
  margin: 5px 0;
  padding-right: 0;
}
.Home hr.banner {
  color: var(--text-colour);
  opacity: 1;
  padding: 1px;
  margin: 6px;
}

.Home .dev-name {
  font-family: hikouLight;
  letter-spacing: 0.7rem;
  color: var(--primary-silver);
  font-size: 1.5rem;
  margin: 20px 34px 0;
  padding-bottom: 0;
  text-align: end;
  opacity: 0.7;
}
.Home img.chemical {
  z-index: 5;
  width: 130px;
}

.Home .chem-three {
  margin-top: 100px;
}
