.Home {
  margin: 110px 0 0;
}
.Home .lines {
  margin: 5px 0;
  padding-right: 0;
}
.Home hr.banner {
  color: var(--text-colour);
  opacity: 1;
  padding: 1px;
  margin: 6px;
  width: 830px;
}
.Home .shadow {
  position: absolute;
  z-index: -2;
  top: 150px;
  left: 10px;
  opacity: 0.1;
}
.Home .heading {
  opacity: 0.9;
  margin-top: 3.5rem;
}
.Home .dev-name {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.5rem 0 1rem;
  line-height: 1.6;
  color: var(--primary-silver);
  opacity: 0.6;
}
.Home .intro-description {
  font-weight: 300;
  width: 600px;
  font-size: 1.2rem;
}
.Home .right-side {
  position: relative;
  z-index: -1;
}
.Home img.chemical {
  position: relative;
  z-index: -1;
  width: 130px;
}

.Home .chem-three {
  margin-top: 70px;
  padding-left: 10px;
  margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .fade-name {
    animation-duration: 3s;
    animation-name: slide-fade;
    animation-direction: alternate;
  }
  .fade-word {
    animation-duration: 4s;
    animation-name: slide-fade;
    animation-direction: alternate;
  }
  .lights-flicker {
    animation-duration: 3s;
    animation-name: flicker;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  .shadow {
    animation-duration: 3s;
    animation-name: flicker-shadow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}
@keyframes flicker {
  0% {
    text-shadow: none;
  }
  49% {
    text-shadow: none;
  }
  50% {
    text-shadow: 2px 2px 5px #eeeef1b4, 4px 10px 10px #eeeef198;
  }
  53% {
    text-shadow: none;
  }
  56% {
    text-shadow: 2px 2px 5px #eeeef1b4, 4px 10px 10px #eeeef198;
  }
}
@keyframes flicker-shadow {
  0% {
    text-shadow: none;
    opacity: 0;
  }
  49% {
    opacity: 0;
    text-shadow: none;
  }
  50% {
    opacity: 0.1;
  }
  53% {
    text-shadow: none;
    opacity: 0;
  }
  56% {
    opacity: 0.1;
  }
}
@keyframes slide-fade {
  from {
    margin-right: 20%;
    opacity: 0;
  }

  to {
    margin-right: 0%;
    opacity: 0.7;
  }
}
@media (min-width: 1300px) {
  .Home img.chemical {
    width: 200px;
  }
  .Home hr.banner {
    width: 1300px;
    margin: 9px 0;
    padding: 2px;
  }
  .Home .intro-description {
    width: 650px;
    font-size: 1.3rem;
  }
  .Home .chem-three {
    margin-top: 140px;
    left: -20px;
  }
}
@media (max-width: 1025px) {
  .Home img.chemical {
    width: 120px;
  }
  .Home hr.banner {
    width: 600px;
  }
  .Home .intro-description {
    width: 550px;
  }
  .Home .chem-three {
    margin-top: 240px;
    left: 30px;
  }
}
@media (max-width: 768px) {
  .Home img.chemical {
    width: 120px;
  }
  .Home hr.banner {
    width: 410px;
  }
  .Home .intro-description {
    width: 400px;
  }
  .Home .chem-three {
    margin-top: 240px;
    left: 50px;
  }
}
@media (max-width: 576px) {
  .Home hr.banner {
    width: 170px;
    margin: 4px 0;
  }
  .Home .col {
    padding: 0;
  }
  .Home .intro-description {
    font-size: 0.9rem;
    width: 450px;
  }
  .Home img.chemical {
    width: 100px;
  }

  .Home .chem-three {
    margin-top: 180px;
  }
}
@media (max-width: 541px) {
  .Home hr.banner {
    width: 250px;
    margin: 3px 0;
  }

  .Home .intro-description {
    font-size: 1rem;
    width: 450px;
  }
  .Home .heading {
    margin-top: 1.5rem;
  }
  .Home .chem-three {
    margin-top: 200px;
  }
}

@media (max-width: 415px) {
  .Home hr.banner {
    width: 190px;
  }
  .Home .intro-description {
    width: 400px;
  }
  .Home img.chemical {
    width: 80px;
  }
}
@media (max-width: 376px) {
  .Home .dev-name {
    font-size: 0.8rem;
  }
  .Home .intro-description {
    font-size: 0.8rem;
    width: 320px;
  }
  .Home .heading {
    margin-top: 2rem;
  }
}
@media (max-width: 376px) {
  .Home hr.banner {
    width: 170px;
    margin: 4px 0;
  }
  .Home .dev-name {
    font-size: 0.8rem;
  }
  .Home .intro-description {
    font-size: 0.9rem;
    width: 340px;
  }
  .Home .heading {
    margin-top: 1.5rem;
  }
}
@media (max-width: 321px) {
  .Home hr.banner {
    width: 160px;
    margin: 3px 0;
  }
  .Home .dev-name {
    font-size: 0.7rem;
  }
  .Home .intro-description {
    font-size: 0.7rem;
    width: 280px;
  }
  .Home .heading {
    margin-top: 1.2rem;
  }
}
@media (max-width: 281px) {
  .Home hr.banner {
    width: 130px;
    margin: 2px 0;
  }
  .Home .dev-name {
    font-size: 0.7rem;
  }
  .Home .intro-description {
    font-size: 0.7rem;
    width: 240px;
  }
  .Home .heading {
    margin-top: 1.2rem;
  }
}
