.Home {
  margin: 110px 0 0;
}
.Home .lines {
  margin: 5px 0;
  padding-right: 0;
}
.Home hr.banner {
  color: var(--text-colour);
  opacity: 1;
  padding: 1px;
  margin: 6px;
  width: 950px;
}
.Home .dev-name {
  font-size: 1rem;
  font-weight: 300;
  color: var(--primary-silver);
  opacity: 0.6;
}
.Home .intro-description {
  font-weight: 300;
  width: 600px;
}

.Home img.chemical {
  z-index: 5;
  width: 130px;
}

.Home .chem-three {
  margin-top: 100px;
  padding-left: 10px;
  margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .fade-name {
    animation-duration: 3s;
    animation-name: slide-fade;
    animation-direction: alternate;
  }
  .fade-word {
    animation-duration: 4s;
    animation-name: slide-fade;
    animation-direction: alternate;
  }
}

@keyframes slide-fade {
  from {
    margin-right: 20%;
    opacity: 0;
  }

  to {
    margin-right: 0%;
    opacity: 0.7;
  }
}
@media (max-width: 576px) {
  .Home hr.banner {
    width: 170px;
    margin: 4px 0;
  }
  .Home .col {
    padding: 0;
  }
  .Home .intro-description {
    font-size: 0.9rem;
    width: 450px;
  }
  .Home img.chemical {
    width: 100px;
  }

  .Home .chem-three {
    margin-top: 180px;
  }
}
@media (max-width: 412px) {
  .Home hr.banner {
    width: 190px;
  }
  .Home .intro-description {
    width: 400px;
  }
  .Home img.chemical {
    width: 80px;
  }
}
@media (max-width: 768px) {
  .Home img.chemical {
    width: 120px;
  }
  .Home hr.banner {
    width: 410px;
  }
  .Home .intro-description {
    width: 400px;
  }
  .Home .chem-three {
    margin-top: 240px;
    left: 50px;
  }
}
@media (max-width: 1300px) {
}
