.ProjectSection .heading {
  font-size: 12rem;
  text-align: center;
  color: var(--dark-gold);
}

.ProjectSection .subtitle {
  text-align: center;
  font-size: 2rem;
}
.ProjectSection .project-tile {
  padding: 0;
}
.ProjectSection a {
  text-decoration: none;
}
