.SkillsListed .listed-skills {
  display: flex;
  justify-content: space-evenly;
}
.SkillsListed .skill-icon {
  max-width: 60px;
  margin: 20px 40px;
  opacity: 0.7;
}
.SkillsListed .incomplete {
  opacity: 0.2;
}
.SkillsListed .heading {
  margin: 0 0 60px;
  font-size: 3.5rem;
}
.SkillsListed {
  padding: 0;
}
