.Contact .page-title {
  position: absolute;
  font-size: 15rem;
  top: 50%;
  left: 50%;
  line-height: 0.9;
  transform: translate(-50%, -50%);
  margin: 0;
  font-family: hikouUrban;
  color: var(--text-colour);
}
