.Contact .large {
  height: 520px;
}
.Contact .title-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.Contact .page-title {
  font-size: 15rem;
  line-height: 0.9;
  margin: 0;
  font-family: hikouUrban;
  color: var(--text-colour);
  opacity: 0.5;
}
.Contact a {
  text-decoration: none;
  display: flex;
}
