.Footer hr.underline,
.Footer .subtitle,
.Footer .contact,
.Footer a {
  color: var(--primary-silver);
  text-decoration: none;
  opacity: 0.6;
}
.Footer hr.underline {
  max-width: 80%;
  opacity: 0.7;
  margin: 30px auto;
}
.Footer a,
.Footer .contact {
  font-weight: 100;
  font-family: var(--serif-font);
  font-size: 1.1rem;
  margin: 10px 0 0;
  line-height: 0.9;
  padding: 0;
  opacity: 0.6;
}
