nav {
  padding: 0;
  margin: 0;
}

nav a {
  color: var(--text-colour);
  letter-spacing: 0.6rem;
  font-family: hikouLight;
  font-size: 1.1rem;
}
nav a.nav-link {
  color: var(--text-colour);
  transition: all 200ms ease-in-out;
  font-size: 2rem;
}
nav a.nav-link:hover,
nav a.nav-link:active,
nav a.nav-link:focus {
  color: var(--medium-gold);
}
nav a:hover {
  color: var(--primary-gold);
}
nav .navbar {
  display: inline-block;
  justify-content: space-between;
}
nav button.navbar-toggler {
  border: var(--text-colour) 1px solid;
}
nav button.navbar-toggler:focus {
  border: var(--text-colour) 1px solid;
}
nav .navbar-toggler-icon {
  margin: 5px 0 0;
}
nav .navbar-toggler-icon .burger {
  color: var(--text-colour);
  opacity: 1;
  margin: 5px 1px;
}
nav button {
  text-align: end;
  margin: 20px;
}
nav .navbar-nav {
  background-color: var(--dark-colour);
  opacity: 0.9;
  padding: 25px;
}
nav #banner {
  background-color: var(--dark-colour);
  opacity: 0.9;
  padding: 20px;
}
