.Contact .title-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.Contact .page-title {
  margin-top: -50px;
  margin-bottom: -50px;
  font-size: 15rem;
  line-height: 0.9;
  margin: 0;
  font-family: hikouUrban;
  color: var(--text-colour);
  opacity: 0.5;
}
.Contact a {
  text-decoration: none;
  display: flex;
}
@media (max-width: 768px) {
  .Contact .page-title {
    font-size: 12.5rem;
  }
}

@media (max-width: 576px) {
  .Contact .page-title {
    margin-top: -150px;
    font-size: 5rem;
  }
}
@media (max-width: 541px) {
  .Contact .page-title {
    margin-top: -50px;
    font-size: 9rem;
  }
}
@media (max-width: 415px) {
  .Contact .page-title {
    margin-top: 0px;
    font-size: 6.5rem;
  }
}
@media (max-width: 361px) {
  .Contact .page-title {
    margin-top: 0px;
    font-size: 5.5rem;
  }
}
@media (max-width: 281px) {
  .Contact .page-title {
    font-size: 4.5rem;
  }
}
