.WebApps .heading {
  font-size: 12vw;
  padding-top: 100px;
}

.WebApps .marquee-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  transform: rotate(-90deg);
  align-items: flex-end;
  right: 0;
  width: 500px;
}
.WebApps .marquee {
  font-size: 7vw;
  font-family: hikouOutline;
  line-height: 0.6;
  padding: 70px 0 0;
  color: #fff;
  white-space: nowrap;
  animation: marquee 12s infinite linear;
}
.WebApps .marquee:after {
  content: " api api api api api api api api api api ";
}
