.WebApps .marquee-container {
  overflow: hidden;
  transform: rotate(-90deg);
  width: 70vh;
  /* width: 430px; */
  padding-bottom: 220px;
}
.WebApps .marquee {
  font-size: 5.5vw;
  font-family: hikouOutline;
  white-space: nowrap;
  color: var(--text-colour);
  animation: marquee 2.5s infinite linear;
}
.WebApps .marquee:after {
  content: " api api api";
}
