.WebApps .marquee-container {
  overflow: hidden;
  transform: rotate(-90deg);
  width: 70.5vh;
  padding-bottom: 17.6vw;
}

.WebApps .marquee {
  font-size: 5.42vw;
  font-family: hikouOutline;
  white-space: nowrap;
  color: var(--text-colour);
  animation: marquee 2.5s infinite linear;
}
.WebApps .marquee:after {
  content: " api api api";
}
@media (min-width: 1300px) {
  .WebApps .marquee-container {
    width: 58vh;
    padding-bottom: 12.6vw;
  }
  .WebApps .marquee {
    font-size: 5vw;
  }
}
