.Websites .marquee-container {
  overflow: hidden;
  padding-top: 40px;
  width: 100%;
}
.Websites .marquee {
  font-size: 5.1vw;
  font-family: hikouOutline;
  white-space: nowrap;
  color: var(--text-colour);
  animation: marquee 2s infinite linear;
}
.Websites .marquee:after {
  content: " build build build build";
}
.Websites .hide {
  display: none;
}
@media (max-width: 415px) {
  .Websites .hide {
    display: block;
    visibility: visible;
  }
  .Websites .mobile {
    display: none;
  }
  .Websites .marquee-container {
    overflow: hidden;
    padding-top: 10px;
    width: 100%;
  }
  .Websites .marquee {
    font-size: 10.7vw;
  }
}
