.App {
  color: var(--text-colour);
}
.App .title {
  font-family: hikouOutline;
  background: -webkit-linear-gradient(#1f1f1f, var(--primary-silver));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 11vw;
  padding: 0 0 20px;
  margin-top: 0;
  text-shadow: 2px 2px 5px #eeeef1b4, 4px 10px 10px #eeeef198;
  line-height: 0.8;
}

.App .title-heading {
  opacity: 0.7;
  font-family: 300;
  padding: 0px 5px;
  margin: 0;
  font-size: 3vw;
}

.App .subtitle {
  color: var(--text-colour);
  font-family: hikouRough;
  padding-top: 0;
  margin-top: 0.5vh;
  font-size: 3vw;
}
.App .heading {
  font-family: hikouRough;
  color: var(--primary-silver);
  font-size: 3.5vw;
}
.App .gold-highlight {
  color: var(--text-colour);
}

.App .dark {
  opacity: 0.3;
}
.App .loader {
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .App .subtitle {
    padding-top: 7px;
  }
}
@media (max-width: 768px) {
  .App .title-heading {
    font-size: 2.2rem;
  }
  .App .title {
    font-size: 8rem;
  }
  .App .subtitle {
    font-size: 1.7rem;
    padding-top: 4px;
  }
  .App .heading {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

@media (max-width: 576px) {
  .App .title-heading {
    font-size: 1.5rem;
  }
  .App .title {
    font-size: 3.5rem;
  }
  .App .subtitle {
    font-size: 1.05rem;
    padding-top: 5px;
  }
  .App .heading {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
@media (max-width: 541px) {
  .App .title-heading {
    font-size: 1.4rem;
  }
  .App .title {
    font-size: 5rem;
  }
  .App .subtitle {
    font-size: 1.5rem;
    padding-top: 0px;
  }
}
@media (max-width: 415px) {
  .App .title {
    font-size: 4.5rem;
  }
  .App .subtitle {
    font-size: 1.5rem;
    padding-top: 2px;
  }
  .App .heading {
    font-size: 2rem;
    margin-top: 2rem;
  }
}
@media (max-width: 394px) {
  .App .subtitle {
    font-size: 1rem;
    padding-top: 5px;
  }
  .App .heading {
    font-size: 1.7rem;
    margin-top: 2rem;
  }
}
@media (max-width: 376px) {
  .App .title-heading {
    font-size: 1.3rem;
  }
  .App .title {
    font-size: 4rem;
  }
  .App .subtitle {
    font-size: 1.05rem;
    padding-top: 5px;
  }
}
@media (max-width: 321px) {
  .App .title-heading {
    font-size: 1rem;
  }
  .App .title {
    font-size: 3.7rem;
  }
  .App .subtitle {
    font-size: 0.85rem;
    padding-top: 5px;
    padding-left: 2px;
  }
  .App .heading {
    font-size: 1.3rem;
  }
}
@media (max-width: 281px) {
  .App .title-heading {
    font-size: 1rem;
  }
  .App .title {
    font-size: 3.2rem;
  }
  .App .subtitle {
    font-size: 0.75rem;
  }
}
