:root {
  --primary-gold: #c7a44e;
}

@font-face {
  font-family: "hikouOutline";
  src: url("/src/Fonts/webfontkit-20211111-190046/hikou_outline-webfont.woff")
    format("woff");
  font-style: normal;
  font-weight: 200px;
}
@font-face {
  font-family: "hikouRough";
  src: url("/src/Fonts/webfontkit-20211111-190046/hikou_rough-webfont.woff")
    format("woff");
  font-style: normal;
  font-weight: 200px;
}
@font-face {
  font-family: "hikouUrban";
  src: url("/src/Fonts/webfontkit-20211111-190046/hikou_urban-webfont.woff")
    format("woff");
  font-style: normal;
  font-weight: 200px;
}
