:root {
  --primary-gold: #c7a44e;
  --dark-gold: #8c7940;
  --medium-gold: #ae9951;
  --light-gold: #c8a54e;
  --orange-gold: #d78d37;
  --gradient-gold: linear-gradient(15deg, #e0ba74 0%, #d28b42 100%);
  --primary-silver: #eeeef1;
  --text-colour: #7f7262;
  --dark-colour: #1c1b1a;
  --meow-colour: #1d1e22;
  --text-font: "Red Hat Mono", monospace;
}
body {
  background: var(--dark-colour);
  height: 100%;
  font-kerning: auto;
  width: 100%;
  padding: 0;
  font-family: var(--text-font);
}

@font-face {
  font-family: "hikouOutline";
  src: url("/src/Fonts/webfontkit-20211111-190046/hikou_outline-webfont.woff")
    format("woff");
  font-style: normal;
  font-weight: 200px;
}
@font-face {
  font-family: "hikouRough";
  src: url("/src/Fonts/webfontkit-20211111-190046/hikou_rough-webfont.woff")
    format("woff");
  font-style: normal;
  font-weight: 200px;
}
@font-face {
  font-family: "hikouUrban";
  src: url("/src/Fonts/webfontkit-20211111-190046/hikou_urban-webfont.woff")
    format("woff");
  font-style: normal;
  font-weight: 200px;
}
@font-face {
  font-family: "hikouCorroded";
  src: url("/src/Fonts/webfontkit-20211111-190046/hikou_corroded-webfont.woff")
    format("woff");
  font-style: normal;
  font-weight: 200px;
}
@font-face {
  font-family: "hikouDiagonal";
  src: url("/src/Fonts/webfontkit-20211111-190046/hikou_diagonal-webfont.woff")
    format("woff");
  font-style: normal;
  font-weight: 200px;
}
@font-face {
  font-family: "hikouLight";
  src: url("/src/Fonts/webfontkit-20211111-190046/hikou_light-webfont.woff")
    format("woff");
  font-style: normal;
  font-weight: 200px;
}
@media (min-width: 1300px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 541px) {
}
@media (max-width: 415px) {
}
@media (max-width: 376px) {
}
@media (max-width: 361px) {
}
@media (max-width: 321px) {
}
@media (max-width: 281px) {
}
