.Projects .white-section .heading {
  color: var(--text-colour);
}
.Projects .heading {
  opacity: 0.9;
  font-size: 5rem;
}
.Projects .project-tile {
  width: 500px;
  padding-top: 150px;
  opacity: 1;
}
.Projects .listed-skills {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 20px;
  text-align: center;
}
.Projects .skill-icon {
  max-width: 40px;
  opacity: 0.5;
}
.Projects .skills-description {
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
  color: var(--primary-silver);
  opacity: 0.5;
}
.Projects .skill-name {
  font-size: 7rem;
  opacity: 0.1;
}
.Projects .img {
  width: 300px;
  opacity: 0.5;
}
.Projects .img-middle {
  display: block;
  margin: auto;
}
.Projects .landscape {
  width: 500px;
}
.Projects .big {
  width: 750px;
}
.Projects .align-left {
  font-size: 1.3rem;
  text-align: left;
  padding-left: 70px;
}
.Projects .align-right {
  font-size: 1.3rem;
  text-align: right;
  padding-right: 70px;
}
.sm-padding-top {
  padding-top: 150px;
}
.md-padding-top {
  padding-top: 350px;
}
.lg-padding-top {
  padding-top: 450px;
}
.sm-padding-left {
  padding-left: 150px;
}
.md-padding-left {
  padding-left: 350px;
}
.lg-padding-left {
  padding-left: 450px;
}
.sm-padding-right {
  padding-right: 150px;
}
.md-padding-right {
  padding-right: 350px;
}
.lg-padding-right {
  padding-right: 450px;
}
.links {
  position: relative;
  z-index: 5;
}
.Projects a {
  opacity: 0.7;
  text-decoration: none;
  color: var(--dark-gold);
}
.Projects .footer a {
  opacity: 0.6;
  text-decoration: none;
  color: var(--primary-silver);
}
.project-link {
  position: relative;
  z-index: 5;
}
