.About .heading {
  color: var(--primary-silver);
  font-family: hikouUrban;
  opacity: 0.7;
  font-size: 9rem;
}
.About .bio-description {
  font-size: 1.1rem;
  max-width: 900px;
}
.About .skill-bars {
  padding-left: 60px;
}
