.FurtherSkills ul {
  list-style-type: none;
}
.FurtherSkills .inprogress-skill {
  font-weight: 200;
  justify-content: space-evenly;
  color: var(--primary-silver);
  opacity: 0.7;
  margin-right: 5px;
}
.FurtherSkills .title-heading {
  font-size: 3rem;
  padding-right: 60px;
  color: var(--primary-silver);
}
